@font-face {
    font-family: 'Be Vietnam';
    src: url('../../fonts/BeVietnamPro-Regular.ttf');
}
@font-face {
    font-family: 'Iwona';
    src: url('../../fonts/Iwona-Regular.otf');
}
@font-face {
    font-family: 'Patriot';
    src: url('../../fonts/Patriot-Regular.otf');
}
@font-face {
    font-family: 'StreetSignSans';
    src: url('../../fonts/StreetSignSans_1.3.otf');
}
@font-face {
    font-family: 'VinaSans';
    src: url('../../fonts/NGTVinaSans-Neue.otf');
}
@font-face {
    font-family: 'ViaodaLibre';
    src: url('../../fonts/ViaodaLibre-Regular.ttf');
}
@font-face {
    font-family: 'Santor';
    src: url('../../fonts/santor-1.002.otf');
}
@font-face {
    font-family: 'BonaNova';
    src: url('../../fonts/BonaNova-Regular.otf');
}
@font-face {
    font-family: 'DarkerGrotesque';
    src: url('../../fonts/DarkerGrotesque-Regular.woff2');
}






